body{

  font-family: "Avenir","Helvetica Neue","Helvetica","Arial","Hiragino Sans","ヒラギノ角ゴシック",
  "YuGothic","Yu Gothic","メイリオ", "Meiryo","ＭＳ Ｐゴシック","MS PGothic";
  line-height:150%;
  background:#fff;
  background: linear-gradient(to bottom, #eaedf7, #FFF);

}
h1{

  font-size: 1.75em;
  color: #5a544b;
  text-align: center;

}
h2{

  font-size: 1.25em;
  color:#5a544b;

}
h3{

  font-size: 1em;
  color: #5a544b;

}
p{

  font-size: 1em;
  color: #5a544b;

}
li{

  font-size: 1em;
  color: #5a544b;

}
a{

  font-size: 1em;
  color: #332f2a;

}
